<h1> Here are your fresh kicks! </h1>

<a href="/shoes/new">Add more shoes to your collection</a>

<% @shoes.each do |shoe|%>
<h2><a href="/shoes/<%= shoe.id %>"><%= shoe.name%></a></h2>
  <!-- <p> <%=shoe.description%> </p> --> 
 <img src="<%=shoe.image%>" alt ="shoe">

  <%if current_user == shoe.user%>
 
  <a href="/shoes/<%= shoe.id %>/edit">Edit</a>
  <%end%>
<%end%>
